<div class="navbar main-nav">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">menu</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li>
            <%= link_to root_path do %>
              <i class="icon-home"></i>
            <% end %>
          </li>
          <li class="divider-vertical"></li>
          <% if user_signed_in? %>
            <li>
            <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
            </li>
          <% else %>
            <li>
            <%= link_to 'Login', new_user_session_path %>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li>
            <%= link_to 'Edit account', edit_user_registration_path %>
            </li>
            <% if current_user.has_role? :admin %>
              <li>
              <%= link_to 'Admin', '/admin' %>
              </li>
            <% end %>
          <% else %>
            <li>
            <%= link_to 'Sign up', new_user_registration_path %>
            </li>
          <% end %>
        </ul>
        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-question-sign"></i></a>
            <ul class="dropdown-menu">
              <li>
                <div class="dropdown-content dropdown-content-wide">
                  <form class="form-search">
                    <div class="input-append">
                      <input type="text" class="search-query" placeholder="Type your question...">
                      <button class="btn">ok</button>
                    </div>
                  </form>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-envelope"></i></a>
            <ul class="dropdown-menu">
              <li>
                <div class="dropdown-content">
                  <address>
                    <strong>CompanyName</strong><br>
                    Address 123<br>
                    Zipcode, State and City
                  </address>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="dropdown-content">
                  <strong>Phone</strong>: 012-345 67 89<br>
                </div>
              </li>
              <li><a href="contact.html"><strong>E-mail</strong>: info@example.com</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-shopping-cart"></i></a>
            <ul class="dropdown-menu">
              <li><a href="detail.html"><span class="pull-left"><small>5x</small> Product A</span> &nbsp; <small class="pull-right label label-info">&euro; 123,-</small></a></li>
              <li><a href="detail.html"><span class="pull-left"><small>1x</small> Product B</span> &nbsp; <small class="pull-right label label-info">&euro; 139,-</small></a></li>
              <li class="divider"></li>
              <li><a href="order.html">Show all items in shopping cart <i class="icon-chevron-right"></i></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>